awscli
beautifulsoup4
discord.py
Django
djangorestframework
flake8
ipython
Mastodon.py
matplotlib
numpy
pandas
pylint
pytest
pytest-flake8
qiita-v2
requests
requests-oauthlib
scipy
slackbot
sympy
tqdm
